@use "@styles/base" as *;

.intro {
  @mixin mod($mod) {
    @include modifier("intro", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .intro_#{$mod} & {
        @content;
      }
    }
  }
  width: 100vw;
  position: relative;

  &__bg {
    background: radial-gradient(circle at 50% 30%, #d03b2f 10%, #000000 80%);
    background-color: #d03b2f;
    @include sectionBg;
    z-index: -1;
  }

  &__bgItem {
    position: absolute;
  }

  &__bgBottomShadow {
    width: 100%;
    @include option(height, 681px);
    @include option(top, 484px, 387px, 1500px);
    background: linear-gradient(to top, #000000, transparent);
    z-index: 3;
  }

  &__bgImage {
    @include option(width, 1520px, 263px, 900px);
    @include option(height, 598px, 226px, 775px);
    position: absolute;
    @include option(top, 301px, 160px, 490px);
    left: 50%;
    transform: translateX(-50%);
  }

  &__bgImageBase,
  &__bgImageAfter {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__bgImageAfter {
    @include option(left, -8px);
    animation: glitch1 8s infinite;
  }

  &__bgMen {
    @include option(width, 510px, 266px, 800px);
    @include option(top, 94px, 135px, 400px);
    left: 50%;
    transform: translateX(-54%);
    z-index: 2;
  }

  &__content {
    @include option(padding, 78px 0px, 28px 0px, 110px 0px);
    @include option(width, 1520px, 265px, 900px);
    margin: 0 auto;
    color: white;
    z-index: 10;
    position: relative;
  }

  &__logoOxota {
    @include option(width, 195px, 110px, 400px);
  }

  &__logoLoto {
    @include option(width, 215px, 119px, 400px);
  }

  &__header {
    display: flex;
    align-items: center;
    @include option(gap, 80px, 35px, 60px);
  }

  &__info {
    @include option(padding-top, 579px, 275px, 1000px);
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    @include option(font-size, 45px, 16px, 50px);
    margin: 0;
    @include option(margin-left, 0px, 20px);
  }

  &__infoNumber {
    @include option(font-size, 90px, 32px, 90px);
    font-weight: $FW-BOLD;
    margin: 0;
    @include option(margin-left, 0px, 20px);
  }

  &__infoSub {
    @include option(font-size, 36px, 14px, 50px);
    font-weight: $FW-LIGHT;
    @include option(margin-bottom, 48px, 23px);
    @include option(margin-top, 30px, 18px);
    @include option(margin-left, 0px, 20px);
  }

  &__win {
    text-align: left;
    @include option(font-size, 28px, 12px, 30px);
    font-weight: $FW-BOLD;
    right: 0;
    //@include option(right, 201px);
    @include option(top, 82px);
    @include option(margin-top, 0px, 47px, 100px);
    position: static;
    @include DESKTOP {
      position: absolute;
      text-align: right;
    }

    &_l {
      display: block;
      font-weight: $FW-LIGHT;
      @include option(margin-bottom, 8px, 0px);
    }
  }

  &__btnLightning {
    @include option(width, 16px, 8px, 30px);
  }
}

@keyframes glitch1 {
  from {
    clip-path: inset(570px calc(100% - 1520px) calc(100% - 598px) 0);
  }
  10% {
    clip-path: inset(300px calc(100% - 1520px) calc(100% - 310px) 0);
  }
  20% {
    clip-path: inset(590px calc(100% - 1520px) calc(100% - 598px) 0);
  }
  60% {
    clip-path: inset(0px calc(100% - 1520px) calc(100% - 18px) 0);
  }
  60.01% {
    clip-path: inset(300px calc(100% - 1520px) calc(100% - 400px) 0);
  }
  80% {
    clip-path: inset(300px calc(100% - 1520px) calc(100% - 400px) 0);
  }
  80.01% {
    clip-path: inset(400px calc(100% - 1520px) calc(100% - 560px) 0);
  }
  99% {
    clip-path: inset(400px calc(100% - 1520px) calc(100% - 560px) 0);
  }
  to {
    clip-path: inset(0px calc(100% - 1520px) calc(100% - 0px) 0);
  }
}
