@use "@styles/base" as *;

.intro {
  @mixin mod($mod) {
    @include modifier("intro", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .intro_#{$mod} & {
        @content;
      }
    }
  }
  width: 100vw;
  position: relative;

  &__bg{
    background: radial-gradient(circle at 50% 20%, #D03B2F 10%, #000000 80%);
    background-color: #D03B2F;
    @include sectionBg;
    z-index: -1;
  }

  &__bgItem{
    position: absolute;
  }

  &__bgBottomShadow{
    width: 100%;
    @include option(height, 475px);
    @include option(top, 707px, 387px, 1500px);
    background: linear-gradient(to top, #000000, transparent);
  }

  &__bgImage{
    @include option(width, 1520px, 263px, 900px);
    position: absolute;
    @include option(top, 301px, 164px, 490px);
    left: 50%;
    transform: translateX(-50%);
  }

  &__bgMen{
    @include option(width, 510px, 266px, 800px);
    @include option(top, 94px, 138px, 400px);
    left: 50%;
    transform: translateX(-50%);
  }

  &__content{
    @include option(padding, 78px 0px, 31px 0px, 110px 0px);
    @include option(width, 1520px, 265px, 900px);
    margin: 0 auto;
    color: white;
    z-index: 10;
  }

  &__logoOxota{
    @include option(width, 195px, 110px, 400px);
  }

  &__logoLoto{
    @include option(width, 215px, 119px, 400px);
  }

  &__header{
    display: flex;
    align-items: center;
    @include option(gap, 80px, 35px, 60px);
  }

  &__info{
    @include option(margin-top, 699px, 430px, 1000px);
    text-align: center;
    text-transform: uppercase;
  }

  &__title{
    @include option(font-size, 45px, 16px, 50px);
    margin: 0;
  }

  &__infoNumber{
    @include option(font-size, 90px, 32px, 90px);
    font-weight: $FW-BOLD;
    margin: 0;
  }

  &__infoSub{
    @include option(font-size, 36px, 14px, 50px);
  }

  &__win{
    text-align: left;
    @include option(font-size, 28px, 12px, 30px);
    font-weight: $FW-BOLD;
    @include option(right, 201px);
    @include option(top, 82px);
    @include option(margin-top, 0px, 47px, 100px);
    position: static;
    @include DESKTOP{
      position: absolute;
      text-align: right;
    }

    &_b{
      font-weight: $FW-NORMAL;
    }
  }
}
