@use "@styles/base" as *;
@use "@styles/_animations" as *;

.customButton {
  @mixin mod($mod) {
    @include modifier("customButton", $mod) {
      @content;
    }
  }

  @mixin modIcon($mod) {
    @include modifier("customButton__icon", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .customButton_#{$mod} & {
        @content;
      }
    }
  }

  @include option(width, 334px, 188px, 500px);
  @include option(height, 75px, 42px, 100px);
  @include option(font-size, 20px, 11px, 35px);
  text-transform: uppercase;
  font-weight: $FW-EXTRA_BOLD;
  @include option(border-radius, 14px, 8px);
  border: none;

  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:hover {
    background-color: $RED;
  }

  @include mod("text_black") {
    &:hover {
      color: $WHITE;
    }
  }

  @include modIcon("red") {
    &:hover {
      filter: brightness(0) saturate(100%) invert(100%);
    }
  }

  @include mod("text_red") {
    &:hover {
      color: $WHITE;
    }
  }

  @include mod("bg_red") {
    &:hover {
      background-color: $WHITE;
    }
  }

  @include mod("bg_white") {
    &:hover {
      background-color: $RED;
    }
  }

  @include mod("text_red") {
    &:hover {
      color: $WHITE;
    }
  }

  @include mod("text_white") {
    &:hover {
      color: $RED;
    }
  }
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(130deg, rgba($WHITE, 0) 10%, $WHITE, rgba($WHITE, 0) 90%);
    animation: shineButton 5s linear infinite;
  }

  &_text_white {
    color: white;
  }

  &_text_black {
    color: black;
  }

  &_text_red {
    color: #d03b2f;
  }

  &_bg_red {
    background-color: #d03b2f;
  }

  &_bg_white {
    background-color: white;
  }

  &__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include option(gap, 8px, 5px);
  }

  &__icon {
    svg[width] {
      @include option(width, 16px, 8px, 30px);
    }
    svg[height] {
      @include option(height, 36px, 19px, 30px);
    }
    path[fill] {
      fill: var(--button-icon-color, #{$RED});
    }

    .customButton:hover &,
    :global(.button_hover) & {
      path[fill] {
        fill: var(--button-icon-hover-color, #{$WHITE});
      }
    }

    &_white {
      --button-icon-color: #{$WHITE};
      --button-icon-hover-color: #{$RED};
    }

    &_red {
      --button-icon-color: #{$RED};
      --button-icon-hover-color: #{$WHITE};
    }
  }

  &__shine {
  }
}
