@use "@styles/base" as *;

.customButton {
  @mixin mod($mod) {
    @include modifier("customButton", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .customButton_#{$mod} & {
        @content;
      }
    }
  }

  @include option(width, 334px, 188px, 500px);
  @include option(height, 75px, 42px, 100px);
  @include option(font-size, 20px, 11px, 35px);
  text-transform: uppercase;
  font-weight: $FW-EXTRA_BOLD;
  @include option(border-radius, 14px, 8px);
  border: none;

  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:hover {
    background-color: $RED;
  }

  @include mod("text_black") {
    &:hover {
      color: $WHITE;
    }
  }

  @include mod("text_red") {
    &:hover {
      color: $WHITE;
    }
  }

  @include mod("bg_red") {
    &:hover {
      background-color: $WHITE;
    }
  }

  @include mod("bg_white") {
    &:hover {
      background-color: $RED;
    }
  }

  @include mod("text_red") {
    &:hover {
      color: $WHITE;
    }
  }

  @include mod("text_white") {
    &:hover {
      color: $RED;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(130deg, transparent 10%, $WHITE, transparent 90%);
    animation: shineButton 5s linear infinite;
  }

  &_text_white {
    color: white;
  }

  &_text_black {
    color: black;
  }

  &_text_red {
    color: #d03b2f;
  }

  &_bg_red {
    background-color: #d03b2f;
  }

  &_bg_white {
    background-color: white;
  }

  &__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include option(gap, 8px, 5px);
  }

  &__icon {
    @include option(width, 16px, 8px, 30px);
  }
}

@keyframes shineButton {
  from {
    transform: translateX(-200%);
  }
  20% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(100%);
  }
}
