@use "@styles/base" as *;

.customButton {
  @mixin mod($mod) {
    @include modifier("customButton", $mod) {
      @content;
    }
  }

  @mixin mods($mods...) {
    @each $mod in $mods {
      .customButton_#{$mod} & {
        @content;
      }
    }
  }

  $sh: 7px;
  $sht: 7px;
  $shm: 6px;

  position: relative;
  display: flex;
  @include options(
    (
      width: auto,
      min-width: 0,
      height: 52px,
      --button-font-size: (
        14px,
        13px,
        17px,
      ),
    )
  );
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  text-decoration: none;
  max-width: 100%;
  box-sizing: border-box;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  user-select: none;
  --button-block-border-color: var(--button-text-color);
  --button-path-color: var(--button-text-color);

  &:disabled,
  &_disabled {
    pointer-events: none;
    --button-text-color: rgba(155, 161, 173, 1);
    --button-path-color: var(--custom-button-disabled-fill, var(--button-text-color));
  }

  &:active {
    --button-text-color: rgba(255, 92, 76, 1);
  }

  &_dark {
    --button-text-color: #{$TEXT};

    &:active {
      --button-text-color: rgba(59, 81, 123, 1);
    }
  }

  &_header {
    @include options(
      (
        width: (
          173px - $sh,
          126px - $shm,
          208px - $sht,
        ),
        height: (
          41px - $sh,
          32px - $shm,
          52px - $sht,
        ),
      )
    );
  }

  &_send {
    @include options(
      (
        width: (
          223px - $sh,
          180px - $shm,
          252px - $sht,
        ),
        height: (
          51px - $sh,
          41px - $shm,
          57px - $sht,
        ),
      )
    );
  }

  &_add {
    @include options(
      (
        width: (
          273px - $sh,
          261px - $shm,
          333px - $sht,
        ),
        height: (
          51px - $sh,
          41px - $shm,
          59px - $sht,
        ),
        --button-image-font-size: (
          25px,
          18px,
          27px,
        ),
        --button-font-size: (
          14px,
          13px,
          17px,
        ),
        --button-block-grid-gap: (
          12px,
          17px,
          17px,
        ),
      )
    );
    --button-image-width: 1em;
    --button-image-height: 1em;
  }

  &_nav {
    @include options(
      (
        width: auto,
        min-width: (
          73px - $sh,
          59px - $shm,
          81px - $sht,
        ),
        height: (
          51px - $sh,
          41px - $shm,
          57px - $sht,
        ),
        --button-image-font-size: (
          19px,
          14px,
          19px,
        ),
        --button-block-padding: (
          0 17px,
          0 13px,
          0 22px,
        ),
      )
    );

    --button-image-width: 1em;
    --button-image-min-width: 1em;
    --button-image-height: 1em;
  }

  &_navFull {
  }

  &_close {
    position: absolute;
    @include options(
      (
        top: (
          -6px,
          -8.5px,
          -10px,
        ),
        right: (
          -6px,
          -8.5px,
          -10px,
        ),
        width: (
          15px,
          21px,
          24px,
        ),
        height: (
          15px,
          21px,
          24px,
        ),
      )
    );

    --button-block-bg-color: transparent;
  }

  &_link {
    @include options(
      (
        width: auto,
        height: auto,
        --button-image-font-size: (
          16px,
          19px,
          26px,
        ),
        --button-font-size: (
          16px,
          18px,
          24px,
        ),
        --button-block-grid-gap: (
          10px,
          12px,
          16px,
        ),
      )
    );
    --button-image-width: 1em;
    --button-image-height: 1em;

    --button-text-color: #{$WHITE};
    --button-font-weight: 500;

    --button-block-bg-color: transparent;
  }

  &_linkGray {
    @include option(--button-font-size, 14px, 18px, 24px);
    --button-text-color: #{$GRAY};
  }

  &_soc {
    display: inline-flex;
    @include options(
      (
        width: (
          28px,
          34px,
          55px,
        ),
        height: (
          34px,
          34px,
          55px,
        ),
      )
    );

    --button-block-bg-color: transparent;
  }

  &_socWs {
    @include options(
      (
        width: (
          190px,
          238px,
          377px,
        ),
        height: (
          24px,
          34px,
          55px,
        ),
      )
    );
  }

  &__block {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: var(--button-block-flex-direction, row);
    justify-content: center;
    align-items: center;
    grid-gap: var(--button-block-grid-gap, 0);
    padding: var(--button-block-padding, 0);
    @include border($d: 2px, $t: 2px, $m: 2px);
    border-color: var(--button-block-border-color, #{$RED});
    background-color: var(--button-block-bg-color, #{$WHITE});
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    @include mods("link", "soc", "close") {
      border: none;
    }
  }

  &__text {
    position: relative;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight, 800);
    color: var(--button-text-color, #{$RED});
    transition:
      color 0.3s ease-in-out,
      width 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    white-space: nowrap;

    @include mod("nav") {
      order: 1;
      @include option(width, 0px);
      overflow: hidden;
      text-align: left;
      opacity: 0;
      transition:
        color 0.3s ease-in-out,
        width 0.3s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0s;
    }

    @include mod("navFull") {
      @include option(width, 159px, 131px, 178px);
      opacity: 1;
      transition:
        color 0.3s ease-in-out,
        width 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0.2s;
    }

    @include mod("link") {
      white-space: pre-wrap;
    }
  }

  &__image {
    position: relative;
    display: flex;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    font-size: var(--button-image-font-size, 1em);
    width: var(--button-image-width, 100%);
    height: var(--button-image-height, 100%);
    min-width: var(--button-image-min-width, auto);

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;

      path[fill] {
        fill: var(--button-path-color, #{$RED});
      }

      path {
        transition: fill 0.3s ease-in-out;
      }
    }

    @include mod("nav") {
      order: 2;
    }
  }

  &__border {
    @include shadow($sh: $sh, $sht: $sht, $shm: $shm);
    background-color: var(--button-block-border-color, #{$RED});

    @include mods("link", "soc", "close") {
      display: none;
    }
  }
}
