@use "@styles/constants" as *;
@use "@styles/mixins" as *;
/**
 * Обычный текст
 */

%DEFAULT {
  font-family: $BASE-FONT;
  @include option(font-size, $PIC);

  color: $TEXT;
}

%TITLE {
  font-family: $TITLE-FONT;
  @include options(
    (
      font-size: (80px, 32px, 64px),
    )
  );
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

%SUBTITLE {
  font-family: $TITLE-FONT;
  @include option(font-size, 32px, 18px, 30px);
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

%TEXT {
  @include option(font-size, 14px, 9px, 16px);
  line-height: 1.3;
  font-weight: 500;
}
